
<!Doctype HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="SI">
    <title>MySamaritanz - MediTourism</title>
    <!--css-->
    @*  <link href="/FrontEndScript/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="/FrontEndScript/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/FrontEndScript/css/set1.css" rel="stylesheet" type="text/css">
    <link href="/FrontEndScript/css/all-css.css" rel="stylesheet" type="text/css" />
    <!---Popup--->
    <link href="/FrontEndScript/css/popup.css" rel="stylesheet" type="text/css" />

</head>
<body id="page-top" class="index m0" style="background: url(/FrontEndScript/img/bg.jpg);">
    <!--header-->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            @*<div class="container" style="text-align: right;">
                    Select Language
                    <input name="name1" id="name1" class="search-text1" placeholder="" type="text" style="width: 10%; background: transparent;">
                </div>*@
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="/home" title=""><img src="~/FrontEndScript/img/logo.png" alt="logo" title="logo" /></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="/home" style="background:none">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background:none">ABOUT US</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mission</a></li>
                                <li><a href="#">Vision</a></li>
                                <li><a href="#">Our Philosophy</a></li>
                            </ul>
                        </li>
                        <li> <a href="/Home/Process" style="background:none">Process </a></li>
                        <li> <a href="/Home/Services" style="background:none">Treatment </a></li>
                        @*<li> <a href="#" style="background:none">Partner Hospitals </a></li>*@
                        <!-- <li> <a href="#" style="background:none">FAQ's </a></li> -->
                        <!-- <li> <a href="#" style="background:none">Instant Quatation </a></li> -->
                        <li><a asp-action="ContactUs" asp-controller="ContactUs" style="background:none">CONTACT</a> </li>
                        @{
                            if (Session["CustomerId"] != null)
                            {
                                <li> <a href="/UserDashboard/Index" style="background:none"><span class="glyphicon glyphicon-user"></span>Hi! @Session["Username"].ToString() </a></li>
                            }
                            else
                            {
                                <li> <a onclick="document.getElementById('id02').style.display='block'" style="background:none"><span class="glyphicon glyphicon-user"></span>SignUP </a></li>
                                <li> <a onclick="document.getElementById('id03').style.display='block'" style="background:none"><span class="glyphicon glyphicon-log-in"></span>SignIn </a></li>

                            }
                        }


                    </ul>
                </div>
            </div>
        </nav>
        <!--navbar-->
    </header>

    <!----Registration---->
    <div id="id02" class="modal">
        <form asp-action="CustomerReg" asp-controller="Registration" method="post" class="modal-content animate reg">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <p style="position:center;"><h3>Registration</h3><hr /></p>
            </div>
            <div class="col-6 aab">
                <label for="uname"><b>Name</b><span style="color:red">*</span></label>
                <input type="text" placeholder="Enter Username" name="name" required>

                <label for="uname"><b>MobileNo</b><span style="color:red">*</span></label>
                <input id="txtPhoneno" type="text" placeholder="Enter MobileNo" pattern="[0-9 -()+]+$" onchange="ValidateMobileNo()" maxlength="14" name="phoneNo" required>
                <label id="phoneno"></label>
                <label for="uname"><b>EmailId</b><span style="color:red">*</span></label>
                <input type="email" placeholder="Enter EmailId" name="email" required>

                <label for="uname"><b>Country</b><span style="color:red">*</span></label>
                <input type="text" placeholder="Enter Country" name="country" required>

                <label for="uname"><b>Password</b><span style="color:red">*</span></label>
                <input type="password" placeholder="Enter Password" maxlength="10" name="Password" required>

                <button type="submit">Register</button>
            </div>

        </form>

    </div>

    <!-----Login----->
    <div id="id03" class="modal">
        <form asp-action="Login" asp-controller="Home" method="post" class="modal-content animate login">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
                <p style="position:center;"><h3>SignIn</h3><hr /></p>
            </div>
            <div class="col-6 ab">
                <label for="uname"><b>UserId</b><span style="color:red">*</span></label>
                <input type="text" placeholder="Enter Username" name="email" required>

                <label for="uname"><b>Password</b><span style="color:red">*</span></label>
                <input type="password" placeholder="Enter Password" maxlength="10" name="password" required>

                <button type="submit">SignIn</button>
            </div>

        </form>
    </div>
  


    @RenderBody()

    <!--footer-->
    <footer>
        <div class="footer-div">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <h3 style="color: white;">Main Links</h3>
                        <ul class="footer-ul">
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="Index" asp-controller="Home">About Us</a></li>
                            <li><a asp-action="Services" asp-controller="Home">Treatment</a></li>
                            <li><a asp-action="Process" asp-controller="Home">Process</a></li>
                            <li><a asp-controller="FAQ">FAQ's</a></li>
                        </ul>
                    </div>
                   
                   
                    @*<div class="col-md-3 col-sm-4 col-xs-12">
                        <h3 style="color: white;">Main Links</h3>
                        <ul class="footer-ul">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Treatment</a></li>
                            <li><a href="#">Process</a></li>
                            <li><a href="#">FAQ's</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 footer-c"> &copy; Copyright 2018-19 - MySamaritanz</div>
                    <div class="col-md-6  col-sm-6 footer-c text-right">
                        <div class="social-icons"> <a href="#"><i class="fa fa-facebook fa-lg"></i></a> <a href="#"><i class="fa fa-twitter fa-lg"></i></a> <a href="#"><i class="fa fa-rss fa-lg"></i></a> <a href="#"><i class="fa fa-google-plus fa-lg"></i></a> <a href="#"><i class="fa fa-skype fa-lg"></i></a> <a href="#"><i class="fa fa-dribbble fa-lg"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--jquery-->
    <script src="~/FrontEndScript/js/jquery-2.2.4.min.js"></script>
    <script src="~/FrontEndScript/js/jquery.mixitup.min.js"></script>
    <script src="~/FrontEndScript/js/scrolltopcontrol.js"></script>
    <script src="~/FrontEndScript/js/wow.min.js"></script>
    <script src="~/FrontEndScript/js/all.js"></script>
    <!--jquery-->
    <!-- revolution -->
    <script src="/FrontEndScript/vendor/revolution/jquery_tools.min.js"></script>
    <script src="/FrontEndScript/vendor/revolution/jquery_revolution.min.js"></script>
    <script src="/FrontEndScript/vendor/revolution/revolution.extension.slideanims.min.js"></script>
    <script src="/FrontEndScript/vendor/revolution/revolution.extension.layeranimation.min.js"></script>
    <script src="/FrontEndScript/vendor/revolution/revolution.extension.navigation.min.js"></script>
    <script src="/FrontEndScript/vendor/revolution/revolution.extension.kenburn.min.js"></script>
    <script src="/FrontEndScript/vendor/revolution/revolution.extension.actions.min.js"></script>
    <!-- revolution -->
    <script src="/FrontEndScript/js/theme.js"></script>
    <script src="/FrontEndScript/js/bootstrap.min.js"></script>
    <script src="/FrontEndScript/js/classie.js"></script>
    <script src="/FrontEndScript/js/cbpAnimatedHeader.js"></script>

    <!-- Registration Popup -->
    <script>
        // Get the modal
        var modal = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $('#txtPhoneno').on('input', function (e) { 
            this.setCustomValidity('')
            if ($(this).val() > 99999999999999) {
                this.setCustomValidity('ex:- +9188982323');
            }
            this.reportValidity();
        })
    </script>
    <!-- Login Popup -->
    <script>
        var modal = document.getElementById('id03');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>

