@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
