@model SI.Meditourism.WebForntEnd_Mvcnew.Models.Customer.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserDashboardLayoutPage.cshtml";
}


<aside class="right-side">
    <section class="content-header">
        <h1>
            Change Password

        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Index", null, new { area = string.Empty, controller= "UserDashboard" })"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;Dashboard</a>
            </li>
        </ol>
    </section>
    <div class="row">
        <section class="content" style="margin-left:22px">

            <div class="row">
                <div class="col-md-4">
                    @using (Html.BeginForm("SubmitChangePassword", "UserDashboard", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <input asp-for="OldPassword" name="OldPassword"  class="form-control" maxlength="14" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" name="NewPassword" class="form-control" maxlength="14" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-default" />
                    </div>
                    }

                    @{
                        if (ViewBag.Message != null)
                        {
                            if (ViewBag.Message == true)
                            {
                                <label><span style="color:green">Your Password Change SuccessFully.</span></label>
                            }
                            else
                            {
                                <label><span style="color:red">Invaild Old Password. Try again.</span></label>

                            }
                        }
                    }
                </div>
            </div>

        </section>
    </div>
</aside>

