
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_UserDashboardLayoutPage.cshtml";
}
<aside class="right-side">

    <section class="container">
        <div class="left-half divcontainer">
            <article>
                <h3>Payment Failed, Please try again later. </h3>
            </article>
        </div>

    </section>
</aside>