
@{
    ViewData["Title"] = "Process";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<!--main-->
<main>
    <!-- What We Do-->
    <section id="section-about" style="background: url(/FrontEndScript/img/bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Process..</h2>
                </div>
                <div class="col-md-12 col-sm-12">
                    <img src="~/FrontEndScript/img/process.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>
</main>