
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<link href="~/Assets/FrontEndScript/css/search.css" type="text/css" />
<section class="container_1 section">
    <div class="left-half divcontainer" style="height: 100%">
        <article>
            <h1>Payment Failed, Please try again later.</h1>
        </article>
    </div>
   
</section>
